# Wine quality prediction

In [19]:
import pandas as pd
import numpy as np

## Importing dataset

In [20]:
data = pd.read_csv("Wine Dataset.csv")
data.head()

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,8.0,0.50,0.39,2.2,0.073,30.0,39.0,0.99572,3.33,0.77,12.1,6
1,1,9.3,0.30,0.73,2.3,0.092,30.0,67.0,0.99854,3.32,0.67,12.8,6
2,2,7.1,0.51,0.03,2.1,0.059,3.0,12.0,0.99660,3.52,0.73,11.3,7
3,3,8.1,0.87,0.22,2.6,0.084,11.0,65.0,0.99730,3.20,0.53,9.8,5
4,4,8.5,0.36,0.30,2.3,0.079,10.0,45.0,0.99444,3.20,1.36,9.5,6

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2056 entries, 0 to 2055
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    2056 non-null   int64
 1   fixed acidity         2056 non-null   float64
 2   volatile acidity      2056 non-null   float64
 3   citric acid           2056 non-null   float64
 4   residual sugar        2056 non-null   float64
 5   chlorides             2056 non-null   float64
 6   free sulfur dioxide   2056 non-null   float64
 7   total sulfur dioxide  2056 non-null   float64
 8   density               2056 non-null   float64
 9   pH                    2056 non-null   float64
 10  sulphates             2056 non-null   float64
 11  alcohol               2056 non-null   float64
 12  quality               2056 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 208.9 KB

#### The dataset does not have any null value in it.

In [22]:
data.shape

(2056, 13)

In [41]:
data["quality"].unique()

array([6, 7, 5, 4, 8, 3], dtype=int64)

### Statistical Information of dataset

In [23]:
data.describe()

,Id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000,2056.000000
mean,1027.500000,8.365175,0.527601,0.265058,2.398881,0.081856,16.955982,49.236868,0.996748,3.310569,0.641308,10.414972,5.720817
std,593.660397,1.705390,0.173164,0.188267,0.858824,0.023729,10.009710,32.961141,0.001827,0.142321,0.137942,1.028825,0.853146
min,0.000000,5.000000,0.180000,0.000000,1.200000,0.012000,1.000000,7.000000,0.990070,2.740000,0.390000,8.700000,3.000000
25%,513.750000,7.200000,0.390000,0.090000,1.900000,0.071000,8.000000,22.000000,0.995600,3.200000,0.550000,9.500000,5.000000
50%,1027.500000,7.950000,0.520000,0.250000,2.200000,0.079000,16.000000,44.000000,0.996700,3.310000,0.610000,10.100000,6.000000
75%,1541.250000,9.200000,0.640000,0.420000,2.600000,0.090000,24.000000,65.000000,0.997800,3.390000,0.720000,11.000000,6.000000
max,2055.000000,15.900000,1.580000,0.760000,14.000000,0.414000,68.000000,289.000000,1.003690,3.780000,1.950000,14.000000,8.000000

In [24]:
data.drop(["Id"], axis=1, inplace = True)
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,8.0,0.50,0.39,2.2,0.073,30.0,39.0,0.99572,3.33,0.77,12.1,6
1,9.3,0.30,0.73,2.3,0.092,30.0,67.0,0.99854,3.32,0.67,12.8,6
2,7.1,0.51,0.03,2.1,0.059,3.0,12.0,0.99660,3.52,0.73,11.3,7
3,8.1,0.87,0.22,2.6,0.084,11.0,65.0,0.99730,3.20,0.53,9.8,5
4,8.5,0.36,0.30,2.3,0.079,10.0,45.0,0.99444,3.20,1.36,9.5,6

### Train Test Split

Firstly we well categorize independent variable in x and dependent variable in y and then after we will perform the train test split method.

In [25]:
x = data.drop(["quality"],axis = 1)
y = data["quality"]

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.15, random_state = 42)

In [48]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1747, 11) (309, 11) (1747,) (309,)

# Linear regression

In [49]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [50]:
model.fit(x_train, y_train)

LinearRegression()

In [51]:
from sklearn.metrics import mean_squared_error
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.5439972575989059

# Logistic Regression

In [52]:
from sklearn.linear_model import LogisticRegression
model_2 = LogisticRegression()
model_2.fit(x_train, y_train)

C:\Users\Ananaya Gupta\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [53]:
y_pred_2 = model_2.predict(x_test)
mse = mean_squared_error(y_test, y_pred_2)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.7475728155339806

# Decision Trees Regresssion

In [54]:
from sklearn.tree import DecisionTreeRegressor

In [55]:
model_dt = DecisionTreeRegressor()

In [56]:
model_dt.fit(x_train, y_train)

DecisionTreeRegressor()

In [57]:
from sklearn.metrics import mean_squared_error
y_pred_dt = model_dt.predict(x_test)
mse = mean_squared_error(y_test, y_pred_dt)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.087378640776699

# SVM Regression

In [58]:
from sklearn.svm import SVR

In [59]:
model_svm = SVR()

In [60]:
model_svm.fit(x_train, y_train)

SVR()

In [61]:
y_pred_svm = model_svm.predict(x_test)
mse = mean_squared_error(y_test, y_pred_svm)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.6130101905430047

#### Thus we can do future predictions using Logistic Regression model as it is giving us the best result.